<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.PIzZqEA1e3ZA7JuyKnuZTQHaEN%26pid%3DApi&f=1&ipt=09d3f6d31a866d482a352b907b8a878096caa9469da44d0f337a16c29a38b258&ipo=images" alt="" height="200px">
    </div>

    <div class="big-card__title">
        <h1><a href=" ">Saiu a nova versao do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p><a href="">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla tellus vel condimentum consectetur. Nulla at arcu ante. Nulla luctus ullamcorper nunc, id finibus sem pretium et. Integer quis malesuada ex, sed elementum magna. Cras imperdiet, ipsum a gravida vestibulum, quam ligula porttitor tortor, ut iaculis eros sem in sem. Sed feugiat sollicitudin nibh, at fringilla ante. Quisque libero augue, malesuada a aliquam eu, vehicula id ante. Mauris fermentum convallis turpis, ac scelerisque risus maximus id.
            </a></p>
    </div>
</div>